@page
@model GolfApp.Pages.Golfers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Golfer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Golfer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Golfer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Golfer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Golfer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Golfer.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Golfer.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Golfer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Golfer.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditGolfer" asp-route-id="@Model.Golfer.GolferId">Edit</a> |
    <a asp-page="./IndexGolfer">Back to List</a>
</div>
