@page
@model GolfApp.Pages.Rounds.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Round</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Round.DatePlayed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Round.DatePlayed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Round.CoursePlayed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Round.CoursePlayed.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Round.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Round.Score)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditRound" asp-route-id="@Model.Round.RoundId">Edit</a> |
    <a asp-page="./IndexRound">Back to List</a>
</div>
